// sass --watch style.scss:style.css

body {
  background-color: #eaeaea;
  margin: 0px;
}

header {
  width: 100%;
  border-bottom: 1px solid #999999;
}

.pink {
  height: 50px;
  background-color: #d4002f;
}

.row {
  height: 30px;
  border-bottom: 1px solid #d2d2d2;
  background-color: #fff;
}


.btn {
  display: inline-block;
  padding: 1px 10px;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
}

.html {
  background-color: #ff5900;
  box-shadow: 1px 1px darken( #ff5900, 15% );
}

.css {
  background-color: #0071b7;
  box-shadow: 1px 1px darken( #0071b7, 15% );
}

.javascript {
  background-color: #73d300;
  box-shadow: 1px 1px darken( #73d300, 15% );
}

.node {
  background-color: #6cc100;
  box-shadow: 1px 1px darken( #6cc100, 15% );
}


.firebase {
  background-color: #ffc900;
  box-shadow: 1px 1px darken( #ffc900, 15% );
}

.sass {
  background-color: #de5a9c;
  box-shadow: 1px 1px darken( #de5a9c, 15% );
}


.mysql {
  background-color: #3379a5;
  box-shadow: 1px 1px darken( #3379a5, 15% );
}

