@font-face {
  font-family: 'neutra';
  src: url("../fonts/neutra-bold.otf") format("opentype"); }
body {
  background-color: #eaeaea;
  margin: 0px; }

header {
  width: 100%; }

.logo {
  width: 100px;
  height: 100px;
  font-size: 67px;
  background-color: #f3df49;
  position: fixed;
  left: 10px;
  top: 10px; }
  .logo h2 {
    font-family: 'neutra', sans-serif;
    position: absolute;
    left: 25%;
    top: 41%;
    color: #2e2e2c; }

img {
  width: 100%;
  position: relative; }

.pink {
  background-color: #fff; }

.portfolio-image {
  height: 185px;
  overflow: hidden; }

.row {
  background-color: #868686; }

.card {
  background-color: #fff;
  width: 250px;
  height: 250px;
  margin: 30px 0px 0px 30px;
  float: left; }
  .card h2 {
    font-family: 'Nunito', sans-serif;
    background-color: #515151;
    text-align: center;
    color: #fff;
    padding: 8px; }

.btn {
  display: inline-block;
  padding: 4px 10px;
  margin: 5px;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  text-decoration: none; }

.live {
  background-color: #f3df49;
  box-shadow: 1px 1px #e1c80f; }

.github {
  background-color: #393939;
  box-shadow: 1px 1px #131313; }

.html {
  background-color: #ff5900;
  box-shadow: 1px 1px #b33e00; }

.css {
  background-color: #0071b7;
  box-shadow: 1px 1px #00426b; }

.javascript {
  background-color: #73d300;
  box-shadow: 1px 1px #498700; }

.node {
  background-color: #6cc100;
  box-shadow: 1px 1px #417500; }

.firebase {
  background-color: #ffc900;
  box-shadow: 1px 1px #b38d00; }

.sass {
  background-color: #de5a9c;
  box-shadow: 1px 1px #c42776; }

.mysql {
  background-color: #3379a5;
  box-shadow: 1px 1px #214e6b; }

.express {
  background-color: #393939;
  box-shadow: 1px 1px #131313; }

.handlebars {
  background-color: #ff7d00;
  box-shadow: 1px 1px #b35800; }

.sequelize {
  background-color: #00b1f6;
  box-shadow: 1px 1px #007aaa; }

.mongodb {
  background-color: #309737;
  box-shadow: 1px 1px #1e5d22; }

.mongoose {
  background-color: #87110f;
  box-shadow: 1px 1px #420807; }

.es6 {
  background-color: #ffc700;
  box-shadow: 1px 1px #b38b00; }

.react {
  background-color: #0fddff;
  box-shadow: 1px 1px #00a6c2; }

.jsx {
  background-color: #336;
  box-shadow: 1px 1px #1a1a33; }

.java {
  background-color: #fd001f;
  box-shadow: 1px 1px #b10016; }

.live {
  color: #393939; }

.es6 {
  color: #000000; }

nav {
  position: fixed;
  top: 1vmin;
  left: 1vmin; }
  nav ul {
    list-style: none; }
  nav li {
    margin: 1vmin;
    padding: 0; }
    nav li a {
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      font-family: Helvetica, sans-serif;
      font-weight: bold;
      font-size: 13pt;
      transition: color 80ms ease-out; }
    nav li.invert a {
      color: white; }

div {
  height: 100vh; }
  div.white {
    background-color: white; }
  div.blue {
    background-color: pink; }
  div.yellow {
    background-color: gray; }
  div.black {
    background-color: black; }
  div.red {
    background-color: salmon; }

/*# sourceMappingURL=style.css.map */
